* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
    line-height: 2rem;
    
}

body {
    background-color: $veryLightGray;
}